.grid {
    display: flex;
    flex-direction: column;
}

.grid .row{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid 1px #333;
}

[class*="col-"] {
    flex:0 0;
    border:1px solid #f00;
}

.col-1 {
    flex-basis: calc(100% / 12);
}
.col-2 {
    flex-basis: calc(100% / 6);
}
.col-3 {
    flex-basis: calc(100% / 4);
}
.col-4 {
    flex-basis: calc(100% / 3);
}
.col-5 {
    flex-basis: calc(100% / 12 * 5);
}
.col-6 {
    flex-basis: calc(100% / 2);
}
.col-7 {
    flex-basis: calc(100% / 12 * 7);
}
.col-8 {
    flex-basis: calc(100% / 3 * 2);
}
.col-9 {
    flex-basis: calc(100% / 4 * 3);
}
.col-10 {
    flex-basis: calc(100% / 6 * 5);
}
.col-11 {
    flex-basis: calc(100% / 12 * 11);
}
.col-12 {
    flex-basis: 100%;
}


@media (min-width: 768px) {
    .col-md-1 {
        flex-basis: calc(100% / 12);
    }
    .col-md-2 {
        flex-basis: calc(100% / 6);
    }
    .col-md-3 {
        flex-basis: calc(100% / 4);
    }
    .col-md-4 {
        flex-basis: calc(100% / 3);
    }
    .col-md-5 {
        flex-basis: calc(100% / 12 * 5);
    }
    .col-md-6 {
        flex-basis: calc(100% / 2);
    }
    .col-md-7 {
        flex-basis: calc(100% / 12 * 7);
    }
    .col-md-8 {
        flex-basis: calc(100% / 3 * 2);
    }
    .col-md-9 {
        flex-basis: calc(100% / 4 * 3);
    }
    .col-md-10 {
        flex-basis: calc(100% / 6 * 5);
    }
    .col-md-11 {
        flex-basis: calc(100% / 12 * 11);
    }
    .col-md-12 {
        flex-basis: 100%;
    }
}

@media (min-width: 1024px) {
    .col-l-1 {
        flex-basis: calc(100% / 12);
    }
    .col-l-2 {
        flex-basis: calc(100% / 6);
    }
    .col-l-3 {
        flex-basis: calc(100% / 4);
    }
    .col-l-4 {
        flex-basis: calc(100% / 3);
    }
    .col-l-5 {
        flex-basis: calc(100% / 12 * 5);
    }
    .col-l-6 {
        flex-basis: calc(100% / 2);
    }
    .col-l-7 {
        flex-basis: calc(100% / 12 * 7);
    }
    .col-l-8 {
        flex-basis: calc(100% / 3 * 2);
    }
    .col-l-9 {
        flex-basis: calc(100% / 4 * 3);
    }
    .col-l-10 {
        flex-basis: calc(100% / 6 * 5);
    }
    .col-l-11 {
        flex-basis: calc(100% / 12 * 11);
    }
    .col-l-12 {
        flex-basis: 100%;
    }
}

@media (min-width: 2560px) {
    .grid {
        max-width: 1440px;
        margin: 0px auto;
    }
    .col-xl-1 {
        flex-basis: calc(100% / 12);
    }
    .col-xl-2 {
        flex-basis: calc(100% / 6);
    }
    .col-xl-3 {
        flex-basis: calc(100% / 4);
    }
    .col-xl-4 {
        flex-basis: calc(100% / 3);
    }
    .col-xl-5 {
        flex-basis: calc(100% / 12 * 5);
    }
    .col-xl-6 {
        flex-basis: calc(100% / 2);
    }
    .col-xl-7 {
        flex-basis: calc(100% / 12 * 7);
    }
    .col-xl-8 {
        flex-basis: calc(100% / 3 * 2);
    }
    .col-xl-9 {
        flex-basis: calc(100% / 4 * 3);
    }
    .col-xl-10 {
        flex-basis: calc(100% / 6 * 5);
    }
    .col-xl-11 {
        flex-basis: calc(100% / 12 * 11);
    }
    .col-xl-12 {
        flex-basis: 100%;
    }
}